<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Two+Tone" rel="stylesheet">
    <title>GolemClick</title>
    <style>
      .entity{
        float:left;
        margin-left: 1em;
      }
      .monsters{
        clear:both;
      }
    </style>
  </head>
  <body>
    <div id="clicker">
      <entity v-bind:value="player"></entity>
      <monsters v-bind:monsters="entities"></monsters>
    </div>
  </body>
  <script type="text/javascript">

    function entity(type, atk, def, hp, magic){
      return {
        type: type,
        atk: atk,
        def: def,
        hp: hp,
        max_hp: hp,
        magic: magic,
        max_magic: magic
      };
    }

    const clicker = Vue.createApp({
      data(){
        return {
          player: entity("Player", 5, 5, 10, 10),
          entities: [
            entity("Kobold", 1, 3, 5, 0),
            entity("Goblin", 2, 2, 7, 0),
            entity("Human", 5, 5, 10, 0),
            entity("Orc", 6, 5, 12, 0),
            entity("Ogre", 7, 5, 15, 0)
          ]
        }
      }
    });

    clicker.component('monsters',{
      props: {monsters: Array},
      template:`
        <div class="monsters">
          <template v-for="monster in monsters">
            <entity v-bind:value="monster"></entity>
          </template>
        </div>`
    });

    clicker.component('entity',{
      emits: ['clicked'],
      props: {value: Object},
      template: `
      <div class="entity">
        <div><span class="material-icons-two-tone">accessibility</span> {{ value.type }}</div>
        <div v-if="value.atk > 0"><span class="material-icons-two-tone">gavel</span> {{ value.atk }}</div>
        <div v-if="value.def > 0"><span class="material-icons-two-tone">security</span> {{ value.def }}</div>
        <div><span class="material-icons-two-tone">favorite</span> {{ value.hp }} / {{ value.max_hp }}</div>
        <div v-if="value.max_magic > 0"><span class="material-icons-two-tone">self_improvement</span> {{ value.magic }}/ {{value.max_magic}}</div>
      </div>`
    });

    clicker.mount('#clicker');
  </script>
</html>
